.anh8 {
    margin-top: 20%;
}

.btnRun {
    position: absolute;
    top: 460px;
    left: 50.95%;

    .btn-run {

        margin-left: 135%;
        width: 350%;
        height: 35px;
        background-color: green;
        font-size: 1rem;
        font-weight: bold;
        color: white;
    }
}